/* 
   Relative Path : styles\ContainerCss\Home.css 
*/

.form_styling {
    width: 70%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

.addItemInput {
    width: 85%;
    margin-right: 1%;
}

.commentSection {
    width: 100%;
    margin-top: 20px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgba(250, 6, 91,0.5);
    padding: 20px;
    border-radius: 1px;
}